    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper " style="min-height: 878px;">
    

        <div class="container-fluid" style="background: #04396D;">
            <div class="row tile_count">
              <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
              <div class="card p-3 bg-navy">
                <span class="count_top"><i class="fa fa-money"></i> Balance</span>
                <div class="count" style=""><%=req.user.currency%> <%= req.user.balance.toFixed(2) %></div>
                <span class="count_bottom"><i class="text-success">Available </i> Balance</span>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
               <div class="card p-3 bg-secondary">
                <span class="count_top"><i class="fa fa-clock-o"></i> Invested</span>
                <div class="count" style=""><%=req.user.currency%> <%= req.user.invested.toFixed(2) %></div>
                <span class="count_bottom"><i class="text-warning"><i class="fa fa-sort-asc"></i>Trade</i> Ongoing</span>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
               <div class="card p-3 bg-navy">
                <span class="count_top"><i class="fa fa-shield"></i> Account Type</span>
                <div class="count text-success bolder" style="font-weight: bolder;"> <%= req.user.account_type %> </div>
                <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>Trade </i> Account Type</span>
                </div>
              </div>
    
                          <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
               <div class="card p-3 bg-navy">
                <span class="count_top"><i class="fa fa-arrow-down"></i> Total Withdrawals</span>
                <div class="count" style=""><%=req.user.currency%> <%= req.user.total_withdraw.toFixed(2) %></div>
                <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>Withdrawals </i> </span>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2" style="border-right: 0;">
               <div class="card p-3 bg-dark">
                <span class="count_top"><i class="fa fa-credit-card"></i> Total Profit</span>
                <div class="count" style=""><%=req.user.currency%> <%= req.user.total_profit.toFixed(2) %></div>
                <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>32% </i> From last Week</span>
                </div>
              </div>
            </div>
            </div>
  
     
                  <div class="container-fluid">
                         <div style="position: fixed; right: 0; bottom: 10%; font-size: 30px; z-index: 1000;"></div>
     
     <div wire:id="UWD0Ne9Cpx9r9slrJkPJ">
     <div class="col-12 p-2 d-flex justify-content-between align-items-center p_header">
     
         <h5><img src="https://cdn-icons-png.flaticon.com/128/3310/3310653.png" width="60" height="50"><b class="text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Investment</font></font></b>
     </h5>
     <div>
     <button class="btn btn-info btn-sm roundButton" wire:click="back()"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Back</font></font></button>
     
      </div>
     
     </div>
      
      <div class="">
      
     
     
     
     
     <div class="col-12">
             </div>
             <div class="col-12">
             </div>
     
             <div class="col-12">
     
             </div>
     
             <div class="row  p-4">
                 
         <form class="form col-lg-6 offset-lg-3 bg-white p-4" method="post">
                <%-include("./partials/messages")%>
                 <div class="form-group">
                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Amount To Invest</font></font></label>
                    <input type="number" name="amount" class="form-control roundInput" placeholder="Enter amount">
                </div>
                <div class="form-group">
                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Select Duration</font></font></label>
                <div>
                    <select name="duration" id="">
                        <option value="24 hrs">24 hrs</option>
                        <option value="48 hrs">48 hrs</option>
                        <option value="72 hrs">72 hrs</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                </div>
                   </div>
             <div class="form-group">
                <button class="btn-block btn-success roundButton"><i class="fa fa-arrow-up"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Submit</font></font></button>
             </div>
         </form>
     
             </div>
             </div>
     </div>
      <!-- Livewire Scripts -->
     
     <script src="/vendor/livewire/livewire.js?id=936e5d0fb0b76b631ba7" data-turbo-eval="false" data-turbolinks-eval="false"></script>
     <script data-turbo-eval="false" data-turbolinks-eval="false">
         if (window.livewire) {
             console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
         }
     
         window.livewire = new Livewire();
         window.livewire.devTools(true);
         window.Livewire = window.livewire;
         window.livewire_app_url = '';
         window.livewire_token = 'Hw1TYGWVraXGGyqY2FQrTE10vS5pkwFmV80Py8ac';
     
         /* Make sure Livewire loads first. */
         if (window.Alpine) {
             /* Defer showing the warning so it doesn't get buried under downstream errors. */
             document.addEventListener("DOMContentLoaded", function () {
                 setTimeout(function() {
                     console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\n\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
                 })
             });
         }
     
         /* Make Alpine wait until Livewire is finished rendering to do its thing. */
         window.deferLoadingAlpine = function (callback) {
             window.addEventListener('livewire:load', function () {
                 callback();
             });
         };
     
         document.addEventListener("DOMContentLoaded", function () {
             window.livewire.start();
         });
     </script>
     
     
              
     </div>
     
       </div>
       <!-- /.content-wrapper -->
     