 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper ">

  
    <!-- top tiles -->
    <div class="container-fluid" style="background: #04396D;">
        <div class="row tile_count">
          <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
          <div class="card p-3 bg-navy">
            <span class="count_top"><i class="fa fa-money"></i> Balance</span>
            <div class="count" style=""><%=req.user.currency%> <%= req.user.balance.toFixed(2) %></div>
            <span class="count_bottom"><i class="text-success">Available </i> Balance</span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
           <div class="card p-3 bg-secondary">
            <span class="count_top"><i class="fa fa-clock-o"></i> Invested</span>
            <div class="count" style=""><%=req.user.currency%> <%= req.user.invested.toFixed(2) %></div>
            <span class="count_bottom"><i class="text-warning"><i class="fa fa-sort-asc"></i>Trade</i> Ongoing</span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
           <div class="card p-3 bg-navy">
            <span class="count_top"><i class="fa fa-shield"></i> Account Type</span>
            <div class="count text-success bolder" style="font-weight: bolder;"> <%= req.user.account_type %> </div>
            <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>Trade </i> Account Type</span>
            </div>
          </div>
                      <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
           <div class="card p-3 bg-navy">
            <span class="count_top"><i class="fa fa-arrow-down"></i> Total Withdrawals</span>
            <div class="count" style=""><%=req.user.currency%> <%= req.user.total_withdraw.toFixed(2) %></div>
            <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>Withdrawals </i> </span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2" style="border-right: 0;">
           <div class="card p-3 bg-dark">
            <span class="count_top"><i class="fa fa-credit-card"></i> Total Profit</span>
            <div class="count" style=""><%=req.user.currency%> <%= req.user.total_profit.toFixed(2) %></div>
            <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>32% </i> From last Week</span>
            </div>
          </div>
        </div>
        </div>
 
           <!-- /top tiles -->
 
              <div class="container-fluid" >
 
                <div style="position: fixed; right: 0; bottom: 10%; font-size: 30px; z-index: 1000;"></div>
 
    
             
         
 
      <section wire:id="TkZEfI5Lx9AkS3g0o0HJ" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;TkZEfI5Lx9AkS3g0o0HJ&quot;,&quot;name&quot;:&quot;profit-returns-wire&quot;,&quot;locale&quot;:&quot;en&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[],&quot;path&quot;:&quot;https:\/\/acc.pureforexcrypto.com\/trade-returns&quot;},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;5f381ed1&quot;,&quot;data&quot;:{&quot;search&quot;:&quot;&quot;,&quot;page&quot;:1},&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;a5744d625c031590d8b8ba3fadbd7af2875a5306f59ab52d8bb6ee23387a27d4&quot;}}">
 
  <div class="col-12 p-2 d-flex justify-content-between align-items-center p_header">
 
       <h5><img src="https://www.iconpacks.net/icons/2/free-gold-investment-icon-6381-thumb.png" width="60" height="50" ><b class="text-success"> Trade Returns</b>
       </h5>
   
 
     </div>	
   <div class="container-fluid ">
 
    
 
 
     <div class="col-12" >
           </div>
     <div class="col-12" >
           </div>
 
     <div class="col-12" >
           </div>
 
     <div class="text-center col-lg-12 offset-lg-0"> 
    <div class="col-lg-4 offset-lg-8 text-right mb-5 mt-5">
           <input type="text-right" wire:model="search" name="" placeholder="search...." class="form-control roundInput">
         </div>
  <div class="table-responsive">
 
 
 
 <table class="table table-striped">
 
     <thead class="bg-dark">
         <th>S/N</th>
         
         <th> Amount  </th>
         <th>Type </th>
         
         
         <th> Date  </th>
     
     
 
     </thead>
     <tbody>
             <tr>
         <td>
 
 
         1</td>
         
             <td>(R)0.00</td>
             <td>Bonus</td>
             
             
             <td>Wed, 06, Apr  2022   02:05:10 pm</td>
             
 
         </tr>
 
                 <tr>
         <td>
 
 
         2</td>
         
             <td>(R)0.00</td>
             <td>Bonus</td>
             
             
             <td>Wed, 06, Apr  2022   02:04:59 pm</td>
             
 
         </tr>
 
                 <tr>
         <td>
 
 
         3</td>
         
             <td>(R)0.00</td>
             <td>Bonus</td>
             
             
             <td>Wed, 06, Apr  2022   02:04:56 pm</td>
             
 
         </tr>
 
                 <tr>
         <td>
 
 
         4</td>
         
             <td>(R)0.00</td>
             <td>Bonus</td>
             
             
             <td>Wed, 06, Apr  2022   02:04:54 pm</td>
             
 
         </tr>
 
                 <tr>
         <td>
 
 
         5</td>
         
             <td>(R)0.00</td>
             <td>Bonus</td>
             
             
             <td>Wed, 06, Apr  2022   02:04:49 pm</td>
             
 
         </tr>
 
                 
 
             </tbody>
 </table>
 <div class="text-right">
     <div>
     </div>
 
 </div>
 </div>
     </div>
 
 
   </div>
 </section>
 
 <!-- Livewire Scripts -->
 
 <script src="/vendor/livewire/livewire.js?id=936e5d0fb0b76b631ba7" data-turbo-eval="false" data-turbolinks-eval="false"></script>
 <script data-turbo-eval="false" data-turbolinks-eval="false">
     if (window.livewire) {
         console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
     }
 
     window.livewire = new Livewire();
     window.livewire.devTools(true);
     window.Livewire = window.livewire;
     window.livewire_app_url = '';
     window.livewire_token = 'rt727BMOKzZGK1TFMfyLsTBt5gbuOwYJjBm0hyvZ';
 
     /* Make sure Livewire loads first. */
     if (window.Alpine) {
         /* Defer showing the warning so it doesn't get buried under downstream errors. */
         document.addEventListener("DOMContentLoaded", function () {
             setTimeout(function() {
                 console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\n\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
             })
         });
     }
 
     /* Make Alpine wait until Livewire is finished rendering to do its thing. */
     window.deferLoadingAlpine = function (callback) {
         window.addEventListener('livewire:load', function () {
             callback();
         });
     };
 
     document.addEventListener("DOMContentLoaded", function () {
         window.livewire.start();
     });
 </script>
 
      
 
 
 
 
          
 </div>
 
   </div>
   <!-- /.content-wrapper -->