  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper ">

  
    <!-- top tiles -->
    <div class="container-fluid" style="background: #04396D;">
      <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
        <div class="card p-3 bg-navy">
          <span class="count_top"><i class="fa fa-money"></i> Balance</span>
          <div class="count" style=""><%=req.user.currency%> <%= req.user.balance.toFixed(2) %></div>
          <span class="count_bottom"><i class="text-success">Available </i> Balance</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
         <div class="card p-3 bg-secondary">
          <span class="count_top"><i class="fa fa-clock-o"></i> Invested</span>
          <div class="count" style=""><%=req.user.currency%> <%= req.user.invested.toFixed(2) %></div>
          <span class="count_bottom"><i class="text-warning"><i class="fa fa-sort-asc"></i>Trade</i> Ongoing</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
         <div class="card p-3 bg-navy">
          <span class="count_top"><i class="fa fa-shield"></i> Account Type</span>
          <div class="count text-success bolder" style="font-weight: bolder;"> <%= req.user.account_type %> </div>
          <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>Trade </i> Account Type</span>
          </div>
        </div>

                    <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
         <div class="card p-3 bg-navy">
          <span class="count_top"><i class="fa fa-arrow-down"></i> Total Withdrawals</span>
          <div class="count" style=""><%=req.user.currency%> <%= req.user.total_withdraw.toFixed(2) %></div>
          <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>Withdrawals </i> </span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2" style="border-right: 0;">
         <div class="card p-3 bg-dark">
          <span class="count_top"><i class="fa fa-credit-card"></i> Total Profit</span>
          <div class="count" style=""><%=req.user.currency%> <%= req.user.total_profit.toFixed(2) %></div>
          <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>32% </i> From last Week</span>
          </div>
        </div>
      </div>
      </div>
 
           <!-- /top tiles -->
 
              <div class="container-fluid" >
 
      <div style="position: fixed; margin-left: 20px; background: #fff; border-radius: 15px; padding: 10px;  bottom: 10%; z-index: 1000;"><a href="https://api.whatsapp.com/send/?phone=12144821285‬&amp;text&amp;app_absent=0"><i class="fa fa-whatsapp text-success whatsapp"></i></a></div>
                <div style="position: fixed; right: 0; bottom: 10%; font-size: 30px; z-index: 1000;"></div>
 
     <section wire:id="GfzP04yKgZaHHqnctR0Z" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;GfzP04yKgZaHHqnctR0Z&quot;,&quot;name&quot;:&quot;withdrawalwire&quot;,&quot;locale&quot;:&quot;en&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[]},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;03e24179&quot;,&quot;data&quot;:{&quot;amount&quot;:null,&quot;btc_address&quot;:null,&quot;method&quot;:null,&quot;addWith&quot;:false,&quot;search&quot;:&quot;&quot;},&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;bce915beafb172e50714b36d76f1c2726598381211f924f4e801ab95157460c1&quot;}}">
     <div class="col-12 p-2 d-flex justify-content-between align-items-center p_header">
 
     <h5 class="text-success"><img src="https://assets-global.website-files.com/5e0f5241100da43ea2593874/5f3d5e05e7aaa02001ba8156_5ef7972e3ce721604aff87c0_Withdrawals.svg" width="120" height="50"> <b> Withdrawal</b>
 </h5>
 <div>
 
 <a class="btn btn-info btn-sm roundButton" href="/make-withdraw"  >Place Withdrawal</a>
 
  </div>
 
 </div>
 <div class="container-fluid p-3">

 <div class="col-12" >
         </div>
         <div class="col-12" >
         </div>
 
         <div class="col-12" >
         </div>
 
          <div class="col-lg-4 offset-lg-8 text-right mb-5">
           <input type="text-right" wire:model="search" name="" placeholder="search...." class="form-control">
         </div>
   <div class="table-responsive">

 <table class="table table-striped">
  
   <thead class="bg-dark">
     <th>S/N</th>
     <th>Amount ($)</th>
     <th>Method</th>
     <th>Txn ID</th>
     <th>Status</th>
     <th>Date </th>
   </thead>
   <tbody>
      <% history.reverse().map((h, index) => { %>
        <tr>
          <td><%= index+ 1 %></td>
          <td><%= h.amount %></td>
          <td>Bank Transfer</td>
          <td>X<%= String(h._id).slice(3,10) %></td>
          <td><%= h.status %></td>
          <td><%= new Date(h.date).toDateString() %></td>
        </tr>
      <% }) %>
   </tbody>
 </table>
 <div class="text-right">
   
 </div>
 </div>
 
 
 </div>
 
 </section>
  <!-- Livewire Scripts -->
 
 <script src="/vendor/livewire/livewire.js?id=936e5d0fb0b76b631ba7" data-turbo-eval="false" data-turbolinks-eval="false"></script>
 <script data-turbo-eval="false" data-turbolinks-eval="false">
     if (window.livewire) {
         console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
     }
 
     window.livewire = new Livewire();
     window.livewire.devTools(true);
     window.Livewire = window.livewire;
     window.livewire_app_url = '';
     window.livewire_token = 'rt727BMOKzZGK1TFMfyLsTBt5gbuOwYJjBm0hyvZ';
 
     /* Make sure Livewire loads first. */
     if (window.Alpine) {
         /* Defer showing the warning so it doesn't get buried under downstream errors. */
         document.addEventListener("DOMContentLoaded", function () {
             setTimeout(function() {
                 console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\n\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
             })
         });
     }
 
     /* Make Alpine wait until Livewire is finished rendering to do its thing. */
     window.deferLoadingAlpine = function (callback) {
         window.addEventListener('livewire:load', function () {
             callback();
         });
     };
 
     document.addEventListener("DOMContentLoaded", function () {
         window.livewire.start();
     });
 </script>                    
 </div>
 
   </div>
   <!-- /.content-wrapper -->
 